body {
  text-align: center;
  background: #f5f5f5;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 1920px){

.imagediv{
  border-radius: 50%;
  border: 1px solid #e2dfdf;
  width: 30px;
  height: 30px;
  margin-left: 2px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: contain;
}
#uncheckcheck{

  right: 587px;
  margin-top: 11px;
  margin-bottom: 10px;
  top: 23px;
  position: relative;

}
ul li {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 10px 400px 10px 0px;
  background: white;
  list-style: none;
  border-bottom: 1px solid #ededed;
}
label{
  font-size: 24px
}
#checkedimage{
  background-size: contain;
}
#RemoveButton {
  position: absolute;
  right: 67px;
  color: #cc9a9a;
  margin-top: -1px;
  top: 13px;
}
.checkbox {
  display:none;
  position: absolute;
  left: 7px;
  margin-top: -1px;
  color: #4d4d4d;
}
footer {
  background: white;
  margin-left: 642px;
  margin-right: 675px;
  margin-top: -15px;
  color: #777;
  display: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
#ullist {
  position: relative;
  margin-top: -2px;
  margin-left: 603px;
  margin-right: 675px;
  color: #4d4d4d;
  margin-bottom: 15px;
}
#span{

  left: -85px;
  position: relative;
}
a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.Completed div{
  background-image: url("checked.png");
  background-repeat: no-repeat;
}
.Completed label{
  color: #e6e6e6;
  text-decoration: line-through;

}
.All {
  position: relative;
  left: 53px;
  padding: 4px;
  margin: 3px;
}
.Active {
  position: relative;
  left: 6px;
  padding: 4px;
  margin: 3px;
}
.Completedlist {
  left: -40px;
  position: relative;
}
.Clear {
  position: relative;
  margin-left: -101px;
  left: 96px;
}
}
.options li {
  display: inline;
  padding: 10px 40px 10px 0px
}
a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

a:active{
    color: black;
}
  .header {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-weight: 100;
    font-size: 100px;
    flex: 1;
    margin-top: 0px;
    color: rgba(175, 47, 47, 0.15);
    margin-bottom: -6px;
  }
  #Insertinfo {
    flex: 1;
    font-size: 24px;
    padding: 18px 145px 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -83px;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  }
  div {
    flex: 1;
    font-size: larger;
    font-size: 10px;
    margin-top: 50px;
    color: #c1a3a3;
  }


  
@media only screen and (max-width: 1080px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-weight: 100;
    font-size: 5em;
    margin-bottom: 20px;
  }
  #Insertinfo {
    font-size: 1em;
    margin-top: -2em;
    padding: 18px 139px 18px;
  }
  #ullist {
    margin-top: -2px;
    margin-right: 323px;
    margin-left: 249px;
  }
  footer {

    background: white;
    margin-right: 323px;
    margin-left: 289px;
    margin-top: -15px;
    color: #777;
    display: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
  
  #insertinfo{

    padding: 30px 139px 30px;
    font-size: 3em;
    margin-top: -2em;
    padding: 18px 139px 18px;
  }
  #uncheckcheck{

    right: 437px;
  }
  #span{
    left: -60px;
    position: relative;
  }
  .Clear{

    left: 62px;
  }
  .options{

    font-size: 11px;
  }
  div{

    font-size: 11px;
  }
  #Removebutton{

    right: 46px;
  }
}
  @media only screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    #Inserinfo {
      padding: 30px 120px 30px;
      font-size: 2em;
      margin-top: -4em;
      position: flex;
    }
    div {
      font-size: larger;
    }
  }

  @media only screen and (max-width: 720px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    h1 {
      font-weight: 100;
      font-size: 60px;
    }
    #Insertinfo {
      border: none;
      font-size: 15px;
      padding: 18px 115px 18px;
      text-align: center;
      margin-top: -3em;
    }
    div {
      font-size: x-small;
    }
  }

  @media only screen and (max-width: 1366px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    h1 {
      font-weight: 100;
      font-size: 60px;
    }
    #Insertinfo {
      border: none;
      font-size: 15px;
      padding: 20px 230px 20px;
      text-align: center;
      margin-top: -3em;
    }
    div {
      font-size: larger;
      top: 160px;
      left: 540px;
    }
  }
  @media only screen and (max-width: 1080px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    h1 {
      font-weight: 100;
      font-size: 10em;
    }
    #Insertinfo {
      padding: 30px 139px 30px;
      font-size: 3em;
      margin-top: -2em;
      padding: 18px 139px 18px;
    }
    @media only screen and (max-width: 768px) {
      .header {
        display: flex;
        flex-direction: column;
      }
      #Inserinfo {
        padding: 30px 120px 30px;
        font-size: 2em;
        margin-top: -4em;
        position: flex;
      }
      div {
        font-size: larger;
      }
    }
  
    @media only screen and (max-width: 720px) {
      .header {
        display: flex;
        flex-direction: column;
      }
      h1 {
        font-weight: 100;
        font-size: 60px;
      }
      #Insertinfo {
        border: none;
        font-size: 15px;
        padding: 18px 115px 18px;
        text-align: center;
        margin-top: -3em;
      }
      div {
        font-size: x-small;
      }
    }
    @media only screen and (max-width: 414px) {
      .header {
        display: flex;
        flex-direction: column;
      }
      h1 {
        font-weight: 100;
        font-size: 60px;
        margin-left: 15px;
      }
      #Insertinfo {
        border: none;
        font-size: 15px;
        padding: 20px 60px 20px;
        text-align: center;
        margin-left: 3em;
        margin-top: -4em;
      }
    }
  
    @media only screen and (max-width: 375px) {
      .header {
        display: flex;
        flex-direction: column;
      }
      h1 {
        font-weight: 100;
        font-size: 50px;
        margin-left: -10px;
      }
      #Insertinfo {
        font-size: 15px;
        padding: 18px 50px 18px;
        margin-top: -3em;
        margin-left: 2em;
      }
      div {
        font-size: x-small;
        margin-left: -2em;
      }
    }
  
    @media only screen and (max-width: 360px) {
      .header {
        display: flex;
        flex-direction: column;
      }
      h1 {
        font-weight: 100;
        font-size: 60px;
      }
      #Insertinfo {
        top: -70px;
        left: -80px;
        border: none;
        font-size: 15px;
        padding: 18px 34px 18px;
        text-align: center;
        margin-left: 2em;
        margin-top: -3em;
      }
      div {
        font-size: x-small;
        margin-left: -2em;
      }
    }
  }
  